body{
	position: relative;
width: 1519px;
height: 1024px;
background-color: #FFF;

}

* {
	margin: 0px;
	padding: 0px;
}


.inicio{
	position: absolute;
width: 1518px;
height: 199px;
left: 0px;
top: 0px;

background: #90E6FF;
}



.imagem1 {
	position: absolute;
width: 274px;
height: 230px;
left: 641px;
top: 0px;

}

.indice {
	position: absolute;
width: 1518px;
height: 40px;
left: 0px;
top: 199px;

background: #A7D1DD;
}

.textoindice {
	position: absolute;
height: 40px;
left: 450px;
top: 10px;

font-family: 'Fredoka';
font-style: normal;
font-weight: 300px;
font-size: 20px;
line-height: 24px;


color: #1582A2;
}

.conta{
	position: absolute;
width: 44px;
height: 41px;
left: 1400px;
top: 0px;
}

.carrinho {
	position: absolute;
width: 44px;
height: 41px;
left: 1450px;
top: 0px;
}

.produtos {
	position: absolute;
width: 234px;
height: 24px;
left: 96px;
top: 372px;

font-family: 'Fredoka';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #1582A2;

}

.busca {

position: absolute;
width: 966px;
height: 40px;
left: 237px;
top: 289px;
padding: 3px;
background: #DAE4E8;
border: 0px solid #ccc;
}

.lupa {
	position: absolute;
width: 37px;
height: 37px;
left: 1209px;
top: 292px;
}

.produto {
float: left;
width: 160px;
height: 175px;
left: 129px;
top: 425px;
border: 2px solid #A7D1DD;
padding: 20px;
margin-left: 50px;

text-align: center;

}

.todos {
	position: absolute;
height: 136px;
left: 129px;
top: 425px;
padding: 20px;

}
.todos2 {
	position: absolute;
height: 136px;
left: 129px;
top: 706px;
padding: 20px;
}


.hellokitty {
	position: absolute;
width: 132px;
height: 136px;
left: 397px;
top: 426px;
border: 2px solid #A7D1DD;
padding: 20px;

}

.pedigree {
	position: absolute;
width: 132px;
height: 136px;
left: 656px;
top: 426px;
border: 2px solid #A7D1DD;
padding: 20px;
}

.cama {
	position: absolute;
width: 132px;
height: 136px;
left: 921px;
top: 419px;
border: 2px solid #A7D1DD;
padding: 20px;
}

.antipulgas {
	position: absolute;
width: 132px;
height: 136px;
left: 1181px;
top: 421px;
border: 2px solid #A7D1DD;
padding: 20px;
}

.favoritos {
	position: absolute;
width: 222px;
height: 24px;
left: 96px;
top: 673px;

font-family: 'Fredoka';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #1582A2;
}

.favracao {
	position: absolute;
width: 150px;
height: 136px;
left: 129px;
top: 731px;
border: 2px solid #A7D1DD;
padding: 20px;
}


.textoimagem{

font-family: 'Inter' , sans-serif;
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
text-align: left;

color: #000000;
}

.preço {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 16px;
margin-left: 0px;
text-align: left;

color: #000000;

}

.textoimagem2{

font-family: 'Inter' , sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
text-align: center;

color: #000000;
}

.setaesq1 {
	position: absolute;
width: 48px;
height: 48px;
left: 150px;
top: 530px;

}

.setaesq2 {
	position: absolute;
width: 48px;
height: 48px;
left: 145px;
top: 793px;
}

.setadir1 {
	position: absolute;
width: 48px;
height: 48px;
left: 1422px;
top: 530px;
}

.setadir2 {
	position: absolute;
width: 48px;
height: 48px;
left: 1422px;
top: 793px;

}

h1 {
	color: #1582a1;
}

.Titulo {
	margin: 184px 768px 792px 311px;
	font-family: poppins;
}

.bloco {
	width: 847px;
	height: 561px;
	background-color: #dae4e8;
	margin: -846px 309px 231px 284px;
	border-radius: 50px;
	font-family: poppins;
	}

.bloquinho {
	width: 71px;
	height: 65px;
	background-color: #a7d1dd;
	border-radius: 20px;
	margin: -778px 309px 263px 1030px;
	font-family: poppins;
}

.casinha {
	margin: -819px 309px 231px 1049px;
	font-family: poppins;
}

.subtitulo {
	margin: -176px 768px 792px 383px;
	font-family: poppins;
}

.senha {
	margin: -751px 768px 792px 383px;
	font-family: poppins;
}

.escrever {
	margin: -787px 768px 792px 383px;
	
}

.entrar {
	width: 111px;
	height: 42px;
	background-color: #8ce584;
	margin: -748px 768px 792px 677px;
	border-radius: 20px;
	font-family: poppins;
}

.botao {
	margin: -825px 768px 792px 710px;
	font-family: poppins;
}

.nao {
	margin: -773px 768px 792px 619px;
	font-family: poppins;
	width: 500px;
}

.block {
	width: 215px;
	height: 36px;
	background-color: #FFFFFF;
	border: 2px solid #8ce584;
	border-radius: 30px;
	margin: -787px 768px 792px 630px;
	font-family: poppins;
}

.cadastrar {
	margin: -825px 768px 792px 683px;
	width: 500px;
	font-family: poppins;
}






